/* Estilos para el carrusel */

.slider-container {
    position:relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper .slider-item {
    position:relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slider-wrapper .slider-item::before {
    position:absolute;
    content:"";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter: grayscale(40%);
    background-image: url('../img/slider1.webp');
    background-size: cover;
    background-position: center;
}

.slider-wrapper .slider-item:nth-child(2)::before {   
    background-image: url('../img/slider2.webp');

}

.slider-wrapper .slider-item:nth-child(3)::before {   
    background-image: url('../img/slider3.webp'); 
}

.slider-wrapper .slider-item .slide-content {
    color: #ffffff;
    z-index: 20;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    position: relative;
}

.slider-item .slide-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
}

.slider-item .slide-content .slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
}

.slider-item .slide-content .slide-description {
    margin-top: 25px;
    line-height: 25px;
}

.slider-item .slide-content .slide-button {
    color:#37a5ff;
    background-color: #ffffff;
    width: 200px;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: #007bff solid 2px;
    border-radius: 5px;
    transition: 0.5s ease;
}

.slider-item .slide-content .slide-button:hover {
    background-color: #007bff;
    color: #ffffff;
}

.slider-container .slider-controls {
    position:absolute;
    bottom: 45px;
    z-index: 20;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    
}

.slider-controls .slider-pagination {
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
    list-style: none;
    justify-content: space-between;
}

.slider-pagination .slider-indicator {
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #ffffff;
    transition: 0.4s ease-in-out;
}

.slider-pagination .slider-tab {
    color: #ffffff;
    font-size: 0.85rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 20px 30px;
    border-bottom: 1px solid #ffffff;
}

.slider-navigatios button {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 20;
    color: #ffffff;
    border: none;
    background:#000000;
    transform: translateY(-50%);
    transition: 0.4s ease;
} 

.slider-navigatios button.swiper-button-disabled {
    display: none;
}

.slider-navigatios button:hover {
    background: #007bff;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.slider-navigatios button#slide-prev {
    left: 20px;
}


.slider-navigatios button#slide-next {
    right: 20px;
}